<!DOCTYPE html>
<html ng-app="addItem>
<head>
<script src='/angular/angular.min.js'></script>
<meta charset="utf-8">
<title> Assignment 5 Add Item Page</title>
.col-xs-12.col-sm-8(ng-controller="itemsController")
    .error {{message}}
        .row.list-group
            .col-xs-12.list-group-item(ng-model="addItem")
                h4
                    small {{ Items.name }}
                    small {{ Items.description }}
                    span.badge.pull-right.badge-default {{ Items.startingPrice }}
                p.bids {{ Items.bids }}

</body>