<!DOCTYPE html>
<html ng-app="listItems>
<head>
<script (src='./public/angular/angular.min.js')></script>
<meta charset="utf-8">
<title> Assignment 5 List Items Page</title>
</head>
<body ng-controller="myController">
<input ng-model='myInput' />
<h1>Hello {{myInput}}</h1>
</body>
