extends layout

block content
    body

        .col-xs-12.col-sm-8(ng-controller="itemListControl")
            .error {{message}}
            .row.list-group
                    h4 Hard-coded Items via Angular
                    p.name {{ items.name }}
                    p.description {{ items.description }}
                    p.startingPrice {{ items.startingPrice }}
                    p.bids {{ items.bids }}


        .col-xs-12.col-sm-8(ng-controller="getListItems")
            .error {{message}}
            .row.list-group
                h4 Items from Mongo via Angular
                p.data {{ data }}
